# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Environment variables & local secrets
.env
*.env

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# IDE / Editor folders
.vscode/
.idea/
.netlify/

.vercel
